/*
 * This is the CSS stylesheet for the SignUp.html page
 */


/* Following two tags combined to make the background image scalable*/
body, html {
  height: 100%;
}

.bg {
  /* The image used 
  background-image: url("../assets/background-image.jpg");*/

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10px;
  padding-left: 50px;
  font-size: 15px;
  width: 500px;
  height: 500px;
  text-align: left;
  line-height: 20px;
  text-decoration: none; 
}


.form-vertical .form-group label {
  font-weight: bold;
  }

.form-group {
align-content: center;
margin: auto;
  }
.submit-btn {
  padding-top: 20px;
}