<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>HyAPI-Machine Learning Toolkit</title>
	<meta content="en" http-equiv="Content-Language" />
	<!-- to adapt content position accoding to screen size-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="#" />
	<script>
	  function saveToSession(key,value) {
	  	apiKey = document.getElementById("accessKey").value
	  	<!--TODO: move sessionStorage data to localStorage -->
	    sessionStorage.setItem("apiKey", apiKey );
	    encKey = document.getElementById("encodingKey").value
	    sessionStorage.setItem("encodingKey", encKey );
	  	}
	  	
	  function printVal(){
		  console.log("hereee")
	  	console.log(sessionStorage.getItem("apiKey"));
	  	console.log(sessionStorage.getItem("encodingKey"));
	  	}
	</script>
		
		<img style="position: fixed; left: 1200px; top: 20px" src="./static/assets/fhdortmund.png">
		<img style="position: fixed; left: 1200px; top: 100px" src="./static/assets/RB.jpeg">
</head>

<body style="background-color:#9CCC65;">
	<h2 style="text-align: center;">HyAPI Machine Learning Toolkit</h2>
	<div id="Main">

		
		{% block content %}
		<!--<form action="http://localhost:5000/hyapi/AI/toolkit/login" -->
		<form action="http://192.168.0.192:5000/hyapi/AI/toolkit/login" 
			method="POST" enctype="multipart/form-data"
			style="margin-left: 80px; margin-top: 80px; background-color:#F1F8E9;
			width:400px; height: 300px;border-style: solid
			">
			{{ form.hidden_tag() }}
			<p>
				<label style="margin-left: 80px">UserName: </label>
				<p id="apiKey" size="32" style="width: 333px; margin-left: 80px">{{ form.userName }}</p>
			</p>
		
			<p>
				<label style="margin-left: 80px">Password: </label>
				<p id="encodingKey" size="32" style="width: 333px;margin-left: 80px">{{ form.password }}</p>
			</p>
			
			<div class="submit-btn"
				style="width: 136px;margin-left: 80px">{{ form.submit() }}</div>
			<div> {% if form.errors %}
				  {{ form.errors }}
				  {% endif %}
			</div>
			{% endblock %}
	</div>
	<div id="statusMsgs">
	<p>{{status}}</p>
	</div>
	</body>
</html>
